################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/bin/Debug/net461
/.vs
/API/obj
/Infrastructure/bin/Debug/netstandard2.0
/Infrastructure/obj
/packages
/Tests/UnitTestAPI/bin/Debug
/Tests/UnitTestAPI/obj/Debug
/API/bin/Release/net461
/Infrastructure/bin/Release/netstandard2.0
/Tests/UnitTestAPI/bin/Release
/Tests/UnitTestAPI/obj/Release
/API/bin/Debug/netcoreapp2.1
/Infrastructure/bin/Debug/netcoreapp2.1
/Tests/UnitTest/bin/Debug/netcoreapp2.1
/Tests/UnitTest/obj/Debug/netcoreapp2.1
/Tests/UnitTest/obj
