################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/bin/Debug/net461
/.vs
/API/obj
/Infrastructure/bin/Debug/netstandard2.0
/Infrastructure/obj
/packages
/Tests/UnitTestAPI/bin/Debug
/Tests/UnitTestAPI/obj/Debug
